<% content_for :title, @user.handle %>

<div class="l-container">
  <h1 class="m-user-handle"><%= multicolor(@user.handle) %></h1>

  <%= render "puzzles/dashboard_stats", stats: @stats %>

  <% if @puzzles.any? %>
    <h2>Published quartets</h2>
    <ul class="m-puzzle-list">
      <% @puzzles.each do |puzzle| %>
        <li>
          <span class="m-puzzle-list__text">
            <%= link_to puzzle.title, play_path(puzzle.share_token) %>
            <span class="m-puzzle-list__author"><%= pluralize(puzzle.attempts.count, "play") %></span>
          </span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="m-empty">Nothing published yet.</p>
  <% end %>
</div>
