<% content_for :title, "Edit quartet" %>

<div class="l-container">
  <h1><%= multicolor("Edit quartet") %></h1>

  <%# Save draft + Publish live together in the form's submit row now. %>
  <%= render "form", puzzle: @puzzle %>
</div>
