<% content_for :title, "New puzzle" %>

<div class="l-container">
  <h1><%= multicolor("New puzzle") %></h1>
  <%= render "form", puzzle: @puzzle %>
  <p><%= link_to "← All puzzles", puzzles_path %></p>
</div>
